
.Mydei-is-the-best-character {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #f2b5d4;
}


.Anaxa-is-the-second-best-character {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #f2b5d4;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.event-card {
    display: block;
    text-decoration: none;
    color: #a9def9;
    background: #5A2576;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #A3C4F5; 
  border-radius: 999px;
  text-decoration: none;
  color: #A3C4F5;
  margin: 5px;
}

.OWO {
	float: right;
  margin-right: 10px;
}
